@model Model
@{
    ViewData["Title"] = "Модель ID" + Model.ModelId;
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Марка @Model.BrandId</h1>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Поле</th>
                <th>Значение</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <p>ID модели</p>
                </td>
                <td>
                    <p>@Model.ModelId</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Марка</p>
                </td>
                <td>
                    <p>@Model?.Brand?.Name</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Модель</p>
                </td>
                <td>
                    <p>@Model.Name</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Доступность</p>
                </td>
                <td>
                    <p>@Model.Active</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}